.task{
    width: 100%;
    background: #EFFFF5;
    padding-bottom: 101px;
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
        &-text{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-card{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            &-item{
                display: flex;
                align-items: center;
                gap: 15px;
                padding-right: 36px;
                background: #fff;
                width: 285px;
                p{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 23.12px;
                    text-align: left;
                    color: #333;
                }
                img{
                    width: 110px;
                    height: 100px;
                }
            }
        }
    }
}