<section class="contact">
    <div class="container">
        <div class="contact__body">
            <div class="contact__body-form">
                <div class="contact__body-form-text">
                    <div class="line"></div>
                    <h2 class="title-soft">Остались <span>вопросы?</span></h2>
                </div>
                <span class="contact__body-form-title">Заполните простую форму, и мы свяжемся с Вами</span>
                <form class="contact__body-form-main" action="">
                    <input class="btn" placeholder="Как Вас зовут?" id="name" type="text">
                    <input class="btn" placeholder="+ 7 (999) 999-99-99" id="tel" type="tel">
                    <button class="btn" type="button">
                        Перезвоните мне
                    </button>
                </form>
                <p>Отправляя данные, вы соглашаетесь на обработку персональных данных</p>
            </div>
            <div class="contact__body-main">
                <div class="contact__body-main-text">
                    <div class="line"></div>
                    <h2 class="title-soft">Наши <span>контакты</span></h2>
                </div>
                <div class="contact__body-main-block">
                    <div class="contact__body-main-block-col">
                        <div class="contact__body-main-block-item">
                            <span>Телефон</span>
                            <p>8 (925) 504-80-638</p>
                        </div>
                        <div class="contact__body-main-block-item">
                            <span>Почта</span>
                            <p>shop@biobeauty.ru </p>
                        </div>
                        <div class="contact__body-main-block-item">
                            <span>Адрес</span>
                            <p>Москва, ул. Верхнелихоборская, д.8</p>
                        </div>
                        <div class="contact__body-main-block-item">
                            <span>ИНН</span>
                            <p>5029101586</p>
                        </div>
                    </div>
                    <div class="contact__body-main-block-col">
                        <div class="contact__body-main-block-item">
                            <span></span>
                            <p>8 (800) 707-07-32</p>
                        </div>
                        <div class="contact__body-main-block-item">
                            <span>Режим работы</span>
                            <p>c 10:00 до 18:00</p>
                        </div>
                        <div class="contact__body-main-block-item">
                            <span>Название компании</span>
                            <p>ООО «Бьюти»</p>
                        </div>
                        
                        <div class="contact__body-main-block-item">
                            <span>ОГРН</span>
                            <p>1075029005292</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>