<main class="main">
    <div class="container">
        <div class="main__body">
            <h1 class="main__body-title">
                <span>Скрабы на основе природных минералов,</span> созданные в нашей лаборатории
            </h1>
            <p class="main__body-desc">
                Подарите своей коже глубокое очищение с сохранением липидного барьера
            </p>
            <button class="main__body-btn btn catalog__btn">
                Подобрать подходящий скраб
            </button>
            <div class="main__body-card">
                <div class="main__body-card-item">
                    <img src="../images/dist/main__card/1.png" alt="">
                    <p>Для ежедневного ухода за кожей</p>
                </div>
                <div class="main__body-card-item">
                    <img src="../images/dist/main__card/2.png" alt="">
                    <p>Результат за 30 секунд</p>
                </div>
                <div class="main__body-card-item">
                    <img src="../images/dist/main__card/3.png" alt="">
                    <p>Заменяют УЗ-чистку в салоне</p>
                </div>
            </div>
        </div>
    </div>
</main>