<section class="que">
    <div class="container">
        <div class="que__body">
            <div class="que__body-text">
                <div class="line"></div>
                <h2 class="title-soft">Часто задаваемые <span>вопросы</span></h2>
            </div>
            <div class="que__body-acc">
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Как работают Биочистки?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Биочистки, благодаря уникальным минералам в составе, работают на коже как природный пылесос: они
                        убирают внешние (кожное сало, ороговевшие чешуйки кожи, макияж, пыль) и внутренние загрязнения
                        (токсины, соли тяжелых металлов, радионуклиды). За 1 минуту кожа очищается так, как будто вы час
                        провели в бане.
                        <br><br>
                        Уже после первого применения вы почувствуете, что кожа стала мягкой и гладкой, как у младенца, а
                        черных точек и раздражений стало меньше. Кожа начнёт «дышать». Регулярное использование
                        биочисток поможет коже восстановить собственные ресурсы: повысится упругость, усилится местный
                        иммунитет. Кроме того, замедлится старение, уйдёт чрезмерная жирность, исчезнут комедоны и
                        воспаления.
                        <br><br>
                        Очищение Биочистками заменяет ультразвуковую чистку по оказываемому эффекту и по затратам
                        времени. Эффект от процедуры очищения с Биочистой достигается за 1 минуту, но по своей
                        эффективности он превосходит 40-минутную ультразвуковую чистку. Кроме того, Биочистки отлично
                        подготавливают кожу к последующим процедурам — маскам, кремам, массажам, значительно повышая их
                        эффективность.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Как часто можно пользоваться Биочистками?</h3>
                        <span>+</span>
                    </div>
                    <p>Людям с жирной кожей мы рекомендуем использовать Биочистки дважды в день: утром и вечером.
                        Обладателям сухой кожи достаточно ежедневного умывания.
                        <br><br>
                        Несмотря на то, что это скрабы, Биочистки не требуют активного растирания на коже. Они работают
                        за счёт ионного обмена и сорбционных свойств минерала вулканического происхождения — цеолита.
                        Как пылесос, они втягивают в себя загрязнения из дермы и с поверхности кожи.
                        <br><br>
                        Такой эффект достигается благодаря очень пористой структуре цеолита. Он может втягивать внутрь
                        своей решетки токсичные вещества, а затем отдавать коже полезные элементы, такие как медь,
                        магний, цинк и натрий.</p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Можно ли использовать во время беременности и кормлении грудью?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Да, продукты полностью натуральные и не содержат вредных веществ, таких как парабены, силиконы,
                        сульфаты и ПАВы. Поэтому их можно использовать во время беременности и кормления грудью.
                        <br><br>
                        Кроме того, умывание Биочистками способствует детоксикации кожи: нанесение этих продуктов на всё
                        тело снижает нагрузку на почки и другие органы выделительной системы. Это, в свою очередь,
                        улучшает самочувствие как будущей мамы, так и её ребёнка.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Подходят ли Биочистки аллергикам?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Да, Биочистки — это гипоаллергенные продукты. Они не только помогают выводить аллергены и
                        токсины из кожи, но и уменьшают её чувствительность и реактивность. Это способствует укреплению
                        иммунитета кожи.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Сколько нужно продукта на одно применение?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Для одного применения на лицо достаточно 1,5 гр продукта, смоченного водой до состояния мокрого
                        песочка прямо в ладони.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Можно ли пользоваться Биочистками подросткам?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Подросткам рекомендуется использовать Биочистки, особенно если их беспокоят повышенная жирность
                        кожи, комедоны и угри. Эти средства помогают улучшить состояние кожи уже после первого
                        применения, а при комплексном лечении способствуют решению более серьёзных проблем.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Почему продукт нельзя растирать на лице?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Мы не советуем растирать Биочистку по коже лица.
                        Во-первых, это не требуется. Действие Биочистки основано на биохимических процессах и не
                        предполагает механического воздействия на эпидермис. Даже лёгкий пилинг, который выполняет
                        Биочистка, происходит за счёт химической реакции между живыми и омертвевшими клетками.
                        <br><br>
                        Во-вторых, не стоит лишний раз травмировать кожу агрессивными механическими или химическими
                        воздействиями, включая пилинги и скрабы, предполагающие растирание по коже. Это может привести к
                        микроповреждениям, через которые могут проникнуть болезнетворные микробы и бактерии.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Поможет ли Биочистка убрать постакне?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Да, Биочистка действительно помогает избавиться от следов постакне за 30 дней. Это связано с
                        тем, что клетки эпидермиса обновляются именно за такой период времени. Если использовать
                        Биочистку каждый день, то процесс обновления клеток ускорится, а следы постакне будут светлеть и
                        исчезать быстрее.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Можно ли использовать, если на коже есть сыпь?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Сыпь может быть признаком различных проблем со здоровьем. Наши продукты для ухода за кожей
                        помогают бороться с внешними проявлениями этих проблем. Однако если причина сыпи кроется внутри
                        организма, обязательно обратитесь к врачу для получения квалифицированной помощи.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Когда будет заметен результат?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Первый результат — непревзойденную чистоту, гладкость и бархатистость кожи — вы заметите уже
                        после первого применения. А через неделю ежедневного использования вы увидите, что тон кожи стал
                        ровнее, высыпания уменьшились, поры стали менее заметными, а чёрные точки — менее выраженными.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Как понять, что Биочистка мне подойдет?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Перед использованием любого средства, в том числе нашей Биочистки, мы рекомендуем провести тест
                        на небольшом участке кожи, например, на локтевом сгибе. Оставьте средство на коже в течение
                        30-60 секунд и проверьте, не возникло ли неприятных ощущений. Если всё в порядке, значит,
                        продукт вам подходит.
                    </p>
                </div>
                <div class="que__body-acc-item">
                    <div class="que__body-acc-item-main">
                        <h3>Можно ли применять Биочистки на других частях тела?</h3>
                        <span>+</span>
                    </div>
                    <p>
                        Биочистки можно использовать для ухода за кожей головы и всего тела. Если использовать их для
                        тела, эффект будет сравним с походом в русскую баню: через 5–10 минут кожа станет гладкой,
                        нежной и мягкой.
                        <br><br>
                        Для ухода за кожей головы Биочистки применяют, когда нужно справиться с перхотью, излишней
                        жирностью, восстановить корни волос после химической завивки или окрашивания, а также убрать зуд
                        и шелушение. В этом случае Биочистку нужно выдержать на коже головы 20–30 минут.
                    </p>
                </div>
            </div>
            <button class="que__body-btn btn">
                Задать свой вопрос
            </button>
        </div>
    </div>
</section>