<section class="review">
    <div class="container">
        <div class="review__body">
            <div class="review__body-text">
                <div class="line"></div>
                <h2 class="title-soft"><span>Покупатели</span> о нас</h2>
            </div>
            <div class="review__body-card">
                <div class="review__body-card-item">
                    <div class="review__body-card-item-top">
                        <span>Ирина А.</span>
                        <div class="review__body-card-item-top-star">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                        </div>
                    </div>
                    <p>Самая лучшая отечественная косметика, из того что я пробовала. Особенно очистка для лица, очень хороший зубной порошок, никогда бы не подумала, что буду пользоваться чем то подобным. Купила так же бады.</p>
                    <div class="review__body-card-item-bot">
                        <span>оставлен в Yandex</span>
                        <span>10 апреля 2024</span>
                    </div>
                </div>
                <div class="review__body-card-item">
                    <div class="review__body-card-item-top">
                        <span>Анастасия В.</span>
                        <div class="review__body-card-item-top-star">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                        </div>
                    </div>
                    <p>
                        Друзья, вы лучшие ))) Спасибо менеджеру Татьяне за внимание и объяснения по каждому продукту. Спасибо за доставку - всегда свяжутся заранее и согласуют время. Рекомендую как альтернативу многим импортным дорогим брендам!
                    </p>
                    <div class="review__body-card-item-bot">
                        <span>оставлен в Yandex</span>
                        <span>1 апреля 2024</span>
                    </div>
                </div>
                <div class="review__body-card-item">
                    <div class="review__body-card-item-top">
                        <span>Лариса К.</span>
                        <div class="review__body-card-item-top-star">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                        </div>
                    </div>
                    <p>Качественная, эффективная косметика. Много лет пользуюсь биочисткой Биобьюти. До этого на коже часто были воспаления, и кожа была жирной. За все это время, пока умываюсь биочисткой, на коже ни разу не было воспалений</p>
                    <div class="review__body-card-item-bot">
                        <span>оставлен в Yandex</span>
                        <span>12 октября 2023</span>
                    </div>
                </div>
                <div class="review__body-card-item">
                    <div class="review__body-card-item-top">
                        <span>Ирина М.</span>
                        <div class="review__body-card-item-top-star">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                            <img src="../images/dist/star.png" alt="">
                        </div>
                    </div>
                    <p>Я недавно заказала биочистку с цинком у низ для дочки подростка. Очень понравилось. Все быстро прислали, упаковано в коробку</p>
                    <div class="review__body-card-item-bot">
                        <span>оставлен в Yandex</span>
                        <span>12 октября 2023</span>
                    </div>
                </div>
            </div>
            <div class="review__body-desc">
                <span>Смотреть больше отзывов на</span>
                <div>
                    <img src="../images/dist/ya.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>