<section class="sale">
    <div class="container">
        <div class="sale__body">
            <div class="sale__body-text">
                <div class="line"></div>
                <h2 class="title-soft"><span>Получите скидку 300 р.</span> на первый заказ</h2>
                <button class="sale__body-text-btn btn catalog__btn">
                    Оставить заявку прямо сейчас
                </button>
                <img src="../images/dist/sale__svg.svg" alt="">
                <p class="btn">Отправляя данные, вы соглашаетесь на обработку персональных данных</p>
            </div>
            <img class="sale__body-img" src="../images/dist/sale__img.png" alt="">
        </div>
    </div>
</section>