<section class="simple">
    <div class="container">
        <div class="simple__body">
            <div class="simple__body-img">
                <img src="../images/dist/simple__img.png" alt="">
            </div>
            <div class="simple__body-text">
                <div class="line"></div>
                <h2 class="title-soft">Простое <span>применение</span></h2>
                <div class="simple__body-text-list">
                    <div class="simple__body-text-list-item">
                        <span>01</span>
                        <p>Высыпать небольшое количество в ладонь</p>
                    </div>
                    <div class="simple__body-text-list-item">
                        <span>02</span>
                        <p>Добавить несколько капель воды</p>
                    </div>
                    <div class="simple__body-text-list-item">
                        <span>03</span>
                        <p>Нанести на влажную кожу и оставить на 30-60 секунд</p>
                    </div>
                    <div class="simple__body-text-list-item">
                        <span>04</span>
                        <p>Смыть водой комфортной температуры</p>
                    </div>
                </div>
                <div class="simple__body-text-place">
                    Не требует растирания
                </div>
            </div>
        </div>
    </div>
</section>