<section class="task">
    <div class="container">
        <div class="task__body">
            <div class="task__body-text title-soft">
                <div class="line"></div>
                <h2>
                    С какими проблемами <span>борется Биочистка</span>
                </h2>
            </div>
            <div class="task__body-card">
                <div class="task__body-card-item">
                    <img src="../images/dist/task/1.png" alt="">
                    <p>Угревая сыпь</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/2.png" alt="">
                    <p>Обезвоженность</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/3.png" alt="">
                    <p>Чрезмерная сухость</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/4.png" alt="">
                    <p>Купероз</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/5.png" alt="">
                    <p>Расширенные поры</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/6.png" alt="">
                    <p>Черные точки</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/7.png" alt="">
                    <p>Чувствительность</p>
                </div>
                <div class="task__body-card-item">
                    <img src="../images/dist/task/8.png" alt="">
                    <p>Гиперпигмен-тация</p>
                </div>
            </div>
        </div>
    </div>
</section>