<section class="who">
    <div class="container">
        <div class="who__body">
            <div class="who__body-text">
                <div class="line"></div>
                <h2 class="title-soft">Кому подходит <span>Биочистка</span></h2>
                <p>
                    Этот продукт создан в лаборатории на основе научных данных о физико-химических процессах в живых
                    клетках, поэтому подходит всем, у кого есть кожа. 
                    <br><br>
                    Биочистка работает уже с первого применения: за 30-60 секунд помогает добиться необыкновенного
                    ощущения свежести, чистоты и гладкости кожи после умывания. 
                </p>
            </div>
            <img src="../images/dist/who__img.png" alt="">
        </div>
    </div>
</section>